body {
}


tr {
    color: white;
    background: cornflowerblue;
}

th {
    color: white;
    background: black;
}

/*.container-index {
    display: flex;
    align-items: center;
    justify-content: center;
}*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 287px;
}

a {
    text-decoration: none;
    color: blue;
    font-size: 20x;
    font-weight: bold;

}